*{margin: 0;padding:0;}
ul,li{list-style: none;}

.hello-react-badge{
  color:#F00;
  padding:100px 20px;
  position: relative;
  button{
    background: #3cc51f;
    width:100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color:#FFF;
    padding:20px;
    border: none;

    &:active{
      background: darken(#3cc51f,10%);
    }

    &:focus{
      outline: none;
    }
  }
}
